@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --border-dark: 0.12em solid #803c67;
    --dark: #803c67;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Ubuntu Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

::selection {
  background: rgba(142, 0, 61, 0.5);
  color: #fff;
}

html {
  height: 100%;
  width: 100%;
  background-color: #F6E7F0;
}
